<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/verifier.css') }}">

<pre><code id="code" class='C++ code-block' data-curr_line="{{ curr_line }}" data-total_lines="{{ total_lines }}">{{ program|safe }}</code></pre>

<div class="interface">
    {% if ok %}
    <div>
        <h2>OK</h2>
    </div>
    {% else %}
    <div>
        <h2>FAIL</h2>
        <select id="select-path" size="5" onchange="select_path()">
            {% for i, prop in props %}
                <option value="{{ i }}">{{ prop }}</option>
            {% endfor %}
        </select>
        <br>
        {% for i, path in paths %}
            <div id="path{{ i }}" data-classes='{{ path["classes"]|tojson }}'  hidden>
                <h4>reachability condition</h4>
                <p>{{ path["reachability"] }}</p>
                <h4>transformation</h4>
                {% for t in path["transformation"] %}
                    <p>{{ t }}</p>
                {% endfor %}
                <h4>model</h4>
                {% for t in path["model"] %}
                    <p>{{ t }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static',filename='js/verifier.js') }}"></script>

</body>
</html>
