<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

{% for fn in functions %}
    <p><a href="{{ fn }}/verify.html">{{ fn }}</a></p>
{% endfor %}

<pre><code class='C++ code-block'>{{ program }}</code></pre>

<script>
    hljs.highlightAll();
</script>

</body>
</html>